@page "/add-funcionario"
@layout MainLayout
@inherits A2019128143.Pages.AddFuncionarioComponent

@using Radzen
@using Radzen.Blazor
@using A2019128143.Models.BibliotecaDb
<PageTitle>Add Funcionario</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@funcionario" Visible="@(funcionario != null)" TItem="A2019128143.Models.BibliotecaDb.Funcionario" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Utilizadore" Component="UtilizadorID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Data="@getUtilizadoresForUtilizadorIDResult" TextProperty="Nome" ValueProperty="UtilizadorID" Placeholder="Choose Utilizadore" ShowSearch="false" style="width: 100%" @bind-Value="@(funcionario.UtilizadorID)" Name="UtilizadorID">
                </RadzenDropDownDataGrid>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Cargo" Component="Cargo" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(funcionario.Cargo)" Name="Cargo">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Cargo" Text="Cargo is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Data Contratacao" Component="DataContratacao" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="MM/dd/yyyy" style="display: block; width: 100%" @bind-Value="@(funcionario.DataContratacao)" Name="DataContratacao">
                </RadzenDatePicker>
                <RadzenRequiredValidator Component="DataContratacao" Text="DataContratacao is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Salario" Component="Salario" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(funcionario.Salario)" Name="Salario">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Departamento" Component="Departamento" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="width: 100%" @bind-Value="@(funcionario.Departamento)" Name="Departamento">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
