@page "/add-materiais-categoria"
@layout MainLayout
@inherits A2019128143.Pages.AddMateriaisCategoriaComponent

@using Radzen
@using Radzen.Blazor
@using A2019128143.Models.BibliotecaDb
<PageTitle>Add Materiais Categoria</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@materiaiscategoria" Visible="@(materiaiscategoria != null)" TItem="A2019128143.Models.BibliotecaDb.MateriaisCategoria" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Materiai" Component="MaterialID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Data="@getMateriaisForMaterialIDResult" TextProperty="Titulo" ValueProperty="MaterialID" Placeholder="Choose Materiai" ShowSearch="false" style="display: block; width: 100%" @bind-Value="@(materiaiscategoria.MaterialID)" Name="MaterialID">
                </RadzenDropDownDataGrid>
                <RadzenRequiredValidator Component="MaterialID" Text="MaterialID is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Categorias Materiai" Component="CategoriaID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Data="@getCategoriasMateriaisForCategoriaIDResult" TextProperty="Nome" ValueProperty="CategoriaID" Placeholder="Choose CategoriasMateriai" ShowSearch="false" style="display: block; width: 100%" @bind-Value="@(materiaiscategoria.CategoriaID)" Name="CategoriaID">
                </RadzenDropDownDataGrid>
                <RadzenRequiredValidator Component="CategoriaID" Text="CategoriaID is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
