@page "/edit-categorias-materiai/{CategoriaID}"
@layout MainLayout
@inherits A2019128143.Pages.EditCategoriasMateriaiComponent

@using Radzen
@using Radzen.Blazor
@using A2019128143.Models.BibliotecaDb
<PageTitle>Edit Categorias Materiai</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="A2019128143.Models.BibliotecaDb.CategoriasMateriai" Data="@categoriasmateriai" Visible="@(categoriasmateriai != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Nome" Component="Nome" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(categoriasmateriai.Nome)" Name="Nome">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Nome" Text="Nome is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Descricao" Component="Descricao" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="200" style="width: 100%" @bind-Value="@(categoriasmateriai.Descricao)" Name="Descricao">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
